
@{
    ViewData["Title"] = "Страница не найдена :(";
}

<div class="center column">
    <a href="/">
        <img src="/images/404.png" alt="404">
    </a>
    <a href="/">
        <div class="box-404 center column">
            <div class="num-404">404</div>
            <div class="mess-404">
                Похоже, не удалось найти страницу :(
            </div>
        </div>
    </a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/404.css" type="text/css" charset="utf-8" />
}

@section Scripts {
    <script>

    </script>
}