
@{
    ViewData["Title"] = "Внутренняя ошибка :(";
}

<div class="center column">
    <a href="/">
        <img src="/images/500.png" alt="500">
    </a>
    <a href="/">
        <div class="box-404 center column">
            <div class="num-404">500</div>
            <div class="mess-404">
                Похоже, все поломалось, но мы обязательно починим :)
            </div>
        </div>
    </a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/404.css" type="text/css" charset="utf-8" />
}

@section Scripts {
    <script>

    </script>
}