.arimo {
    font-family: 'Arimo', sans-serif;
}
.verdana {
    font-family: Verdana;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.ibmplex {
    font-family: 'IBM Plex Sans', sans-serif;
}
.noto {
    font-family: 'Noto Sans SC', sans-serif;
}
.istok {
    font-family: 'Istok Web', sans-serif;
}
.mont {
    font-family: 'Montserrat', sans-serif;
}
.poiret {
    font-family: 'Poiret One', cursive;
}
.gothem {
    font-family: 'gothampro_bold', sans-serif;
}