@model bool


<div class="link-list">
    <a class="card" id="to-main" href="/">Главная</a>
    @if (Model)
    {
        <a class="card" href="/application">Электронная регистрация</a>
    }
    <a class="card" href="http://prkom.vlsu.ru/" target="_blank">Приемная коммиссия</a>
</div>